@mixin background {
    width: 100%;
    height: 100%;
    padding-top: 171px;
    padding-bottom: 26px;
}

.services {
    padding-top: 80px;
    padding-bottom: 200px;
    .container {
        width: 1160px;
    }
    &__title {
        text-align: center;
        font-size: 24px;
        font-family: 'PTSansCaption';
        margin-bottom: 80px;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        position: relative;
        overflow: hidden;
        width: 367px;
        margin-right: 19px;
        margin-bottom: 19px;
        cursor: pointer;
        &-title {
            text-align: center;
            text-transform: uppercase;
            font-size: 20px;
            font-family: 'roboto';
            color: #fff;
        }
    }
    &__link {
        a {
            display: block;
            position: absolute;
            z-index: 999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.bg1 {
    @include background;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 15%, rgba(0,0,0,0.7945553221288515) 100%), url('../img/house.jpg') no-repeat;
    background-size: cover;
    transition: all .4s;
    &:hover {
        transform: scale(1.08);
    }
}
.bg2 {
    @include background;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 15%, rgba(0,0,0,0.7945553221288515) 100%), url('../img/nature.jpg') no-repeat;
    background-size: cover;
    transition: all .4s;
    &:hover {
        transform: scale(1.08);
    }
}
.bg3 {
    @include background;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 15%, rgba(0,0,0,0.7945553221288515) 100%), url('../img/house.jpg') no-repeat;
    background-size: cover;
    transition: all .4s;
    &:hover {
        transform: scale(1.08);
    }
}
.bg4 {
    @include background;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 15%, rgba(0,0,0,0.7945553221288515) 100%), url('../img/ingineer.jpg') no-repeat;
    background-size: cover;
    transition: all .4s;
    &:hover {
        transform: scale(1.08);
    }
}
.bg5 {
    @include background;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 15%, rgba(0,0,0,0.7945553221288515) 100%), url('../img/other.jpg') no-repeat;
    background-size: cover;
    transition: all .4s;
    &:hover {
        transform: scale(1.08);
    }
}  